<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
.container {
  background-color: black;
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 25%;
  border: 1px solid black;
}
.container .box1 {
    display: flex;
    background-color: blue;
    width: 50%;
    height: 25%;
    align-items: center;  
}
.container .box1 p {
    width: 50%;
    position: relative;
    left: 50%;
}
.container .box2 {
    background-color: red;
    width: 50%;
    height: 25%;  
} 
    </style>
</head>
<body>
    <section>
  <div class="container">
    <div class="box1">
      <p>
          Box 1 Box 1 Box 1 Box 1 Box 1 Box 1 Box 1 Box 1 Box 1 Box 1 Box 1 Box 1 Box 1
      </p> 
    </div>
    <div class="box2">
      <p>
          Box 2 Box 2 Box 2 Box 2 Box 2 Box 2 Box 2 Box 2 Box 2 Box 2 Box 2 Box 2 Box 2 
      </p>
    </div>
  </div>
</section>
</body>
</html>