{% load static %}
<!-- Portfolio Modal 0-->
<div class="portfolio-modal modal fade" id="portfolioModal0" tabindex="-1" role="dialog" aria-labelledby="portfolioModal0Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-3" id="portfolioModal0Label">GS Lite</h2>
                            <!-- Portfolio Modal - Image-->
                            <div id="modalCarousel0" class="carousel slide" data-ride="carousel">
                              <ol class="carousel-indicators">
                                <li data-target="#modalCarousel0" data-slide-to="0" class="active"></li>
                                <li data-target="#modalCarousel0" data-slide-to="1"></li>
                                <li data-target="#modalCarousel0" data-slide-to="2"></li>
                              </ol>
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img class="d-block w-100" src="{% static 'resume/portfolio/gsl1.png' %}" alt="First slide" href="https://imgur.com/DHn7Bkg">
                                </div>
                                <div class="carousel-item">
                                  <img class="d-block w-100" src="{% static 'resume/portfolio/gsl2.png' %}" alt="Second slide" href="https://imgur.com/SR8PS2H">
                                </div>
                                <div class="carousel-item">
                                  <img class="d-block w-100" src="{% static 'resume/portfolio/gsl3.png' %}" alt="Third slide" href="https://imgur.com/QR4dFMT">
                                </div>
                              </div>
                              <a class="carousel-control-prev" href="#modalCarousel0" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" style='color: red;' aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                              </a>
                              <a class="carousel-control-next" href="#modalCarousel0" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                              </a>
                            </div>
                            <!-- Portfolio Modal - Text-->
                            <div class="mb-5 mt-5">
                                <ul>
                                    <li style="text-decoration: none; display: inline;">Please see video <a href="https://vimeo.com/487285581">here</a>.
                                    </li></br>
                                    <li style="text-decoration: none; display: inline;">GS Lite is a lightweight version of the Salesforce GS Lightning console used by VMware technical support engineers. GS Lite intends to capitalize on some of the design gaps seen in the traditional Lightning console by eliminating the need for tabs, centralizing ticket data, and cutting out unnecessary e-mail bloat.
                                    </li></br>
                                    <li style="text-decoration: none; display: inline;">GS Lite supports the ability to quickly look up other support engineer's tickets, message customers back in a manner that mirrors Salesforce Lightning messaging functionality, as well as allows the simultaneous download of multiple case attachments. Finally, GS Lite brings the essentials of ticket review and response to mobile, enabling technical support engineers to work on the go.
                                    </li>
                                </ul>
                            </div>
                            <span>
                                <a href="https://github.com/ace-vmware/GSL" target="_blank">
                                    <button class="btn btn-secondary">
                                        <i class="fab fa-github"></i> View on Github</button>
                                </a>
                            </span>
                            <button class="btn btn-primary" data-dismiss="modal">
                                <i class="fas fa-times fa-fw"></i>
                                Close Window
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 1-->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-3" id="portfolioModal1Label">This Website</h2>
                            <!-- Portfolio Modal - Image-->
                            <div id="modalCarousel1" class="carousel slide" data-ride="carousel">
                              <ol class="carousel-indicators">
                                <li data-target="#modalCarousel1" data-slide-to="0" class="active"></li>
                                <li data-target="#modalCarousel1" data-slide-to="1"></li>
                                <li data-target="#modalCarousel1" data-slide-to="2"></li>
                              </ol>
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img class="d-block w-100" src="{% static 'resume/portfolio/website.png' %}" alt="First slide">
                                </div>
                                <div class="carousel-item">
                                  <img class="d-block w-100" src="{% static 'resume/portfolio/website2.png' %}" alt="Second slide">
                                </div>
                                <div class="carousel-item">
                                  <img class="d-block w-100" src="{% static 'resume/portfolio/website3.png' %}" alt="Third slide">
                                </div>
                              </div>
                              <a class="carousel-control-prev" href="#modalCarousel1" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" style='color: red;' aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                              </a>
                              <a class="carousel-control-next" href="#modalCarousel1" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                              </a>
                            </div>
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-5 mt-5">I built this website prior to picking up HTML5, CSS3, and JS. The template is a free Bootstrap template I've made edits to fit my style and needs. Alternatively, the back-end is a product of Python's Django framework, complete with a Postgress DB, AWS S3 bucket integration, and is hosted on Heroku.</p>
                            <span>
                                <a href="https://github.com/ace-vmware/adamevancho-website" target="_blank">
                                    <button class="btn btn-secondary">
                                        <i class="fab fa-github"></i> View on Github</button>
                                </a>
                            </span>
                            <button class="btn btn-primary" data-dismiss="modal">
                                <i class="fas fa-times fa-fw"></i>
                                Close Window
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 2-->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-labelledby="portfolioModal2Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-3" id="portfolioModal2Label">Auto Squad Reassignment</h2>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-2" src="{% static 'resume/portfolio/asr1.png' %}">
                            <img class="img-fluid rounded mb-2" src="{% static 'resume/portfolio/asr2.png' %}">
                            <img class="img-fluid rounded mb-2" src="{% static 'resume/portfolio/asr3.png' %}">
                            <img class="img-fluid rounded mb-2" src="{% static 'resume/portfolio/asr4.png' %}">
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-5 mt-5">Auto Squad Reassignment (ASR) is a combination of Slack API, SalesForce API, and a Flask server that automatically detects SalesForce tickets that have been incorrectly assigned to the wrong team, posts these tickets in Slack to be approved/denied for reassignment, and finally updates the ticket's SalesForce feed upon the action taken in Slack.</p>
                            <span>
                                <a href="https://github.com/ace-vmware/asrapp" target="_blank">
                                    <button class="btn btn-secondary">
                                        <i class="fab fa-github"></i> View on Github</button>
                                </a>
                            </span>
                            <button class="btn btn-primary" data-dismiss="modal">
                                <i class="fas fa-times fa-fw"></i>
                                Close Window
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 3-->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-labelledby="portfolioModal3Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-3" id="portfolioModal3Label">FedBot</h2>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-2" src="{% static 'resume/portfolio/fedbot1.png' %}">
                            <img class="img-fluid rounded mb-2" src="{% static 'resume/portfolio/fedbot2.png' %}">
                            <img class="img-fluid rounded mb-2" src="{% static 'resume/portfolio/fedbot3.png' %}">
                            <img class="img-fluid rounded mb-2" src="{% static 'resume/portfolio/fedbot4.png' %}">
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-5 mt-5">Fedbot is built with the slack_client and simple_salesforce Python modules. I developed several jobs that alert my team's Slack channel to priority tickets, tickets that will soon meet their SLA or are improperly assigned, and support engineer KPI reports for metrics like ticket idle time. </p>
                            <span>
                                <a href="https://github.com/ace-vmware/FedBotApp" target="_blank">
                                    <button class="btn btn-secondary">
                                        <i class="fab fa-github"></i> View on Github</button>
                                </a>
                            </span>
                            <button class="btn btn-primary" data-dismiss="modal">
                                <i class="fas fa-times fa-fw"></i>
                                Close Window
                            </button>

                        </img>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Portfolio Modal 4-->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-labelledby="portfolioModal4Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-3" id="portfolioModal4Label">Responsive Websites</h2>
                            <!-- Portfolio Modal - Image-->

                            <!-- Portfolio Modal - Text-->
                            <p class="mt-5">After finishing the <a href="https://www.freecodecamp.org/learn/">Responsive Web Design Certification</a> on freeCodeCamp, I built several static pages. Note: I know they have flaws and are not perfect. I thought it would be interesting to display my progress at structuring my HTML, discovering new ways to accomplish styles in CSS, and introducing JS into the mix.</p>
                            <ul class="mb-5 mt-5">
                                <li style="text-decoration: none; display: inline;">
                                    <a href="http://www.adamevancho.com/responsivepage1">Project 1: Responsive Sign-Up Page</a>
                                </li></br>
                                <li style="text-decoration: none; display: inline;">
                                    <a href="http://www.adamevancho.com/responsivepage2">Project 2: Responsive Recruitment Page</a>
                                </li></br>
                                <li style="text-decoration: none; display: inline;">
                                    <a href="http://www.adamevancho.com/responsivepage3">Project 3: EasyBank Landing Page</a>
                                </li>
                            </ul>
                            <div>
                                <span>
                                    <a href="https://github.com/ace-vmware/asrapp" target="_blank">
                                        <button class="btn btn-secondary">
                                            <i class="fab fa-github"></i> View on Github
                                        </button>
                                    </a>
                                </span>
                                <button class="btn btn-primary" data-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                    Close Window
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
